@media (max-width: 24.4em) {
  body {
    background-color: hsl(217, 19%, 24%);
  }
  .container {
    margin: 1vw 3vw;
  }

  .generator-box {
    max-width: 27rem;
    min-height: 20rem;
    gap: 2rem;
    padding-left: 2rem;
  }
  .divider {
    display: none;
  }

  .quote {
    font-size: 2.1rem;
    text-align: center;
  }

  .dice {
    padding: 1.5rem;
  }

  .btn-dice {
    height: 6.4rem;
    width: 6.4rem;
    top: 59%;
    right: 50%;
    transform: translate(59%, 50%);
  }
}
