* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: hsl(217, 19%, 24%);
}

.container {
  max-width: 144rem;
  height: 65rem;
  background-color: hsl(218, 23%, 16%);
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 2vw 7vw;
}
.generator-box {
  flex: 1;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  /* padding: 6rem 4rem; */
  padding-bottom: 6rem;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  max-width: 42rem;
  height: 16rem;
  position: relative;
}

.quote-number {
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.4rem;
  font-size: 1.1rem;
}
.quote {
  color: hsl(193, 38%, 86%);
  font-size: 2.2rem;
  text-align: center;
}
/* .img-divider {
  margin-top: auto;
} */

.dice {
  height: 2.4rem;
  width: 2.4rem;
}

.btn-dice {
  position: absolute;
  height: 4.8rem;
  width: 4.8rem;
  /* padding: 1.6rem; */
  border: none;
  background-color: hsl(150, 100%, 66%);
  border-radius: 100000000000px;
  top: 61.5%;
  right: 50%;
  transform: translate(61.5%, 50%);
}

.btn-dice:hover {
  cursor: pointer;
  box-shadow: 0 0 0.8rem 0.08rem hsl(150, 100%, 66%);
}
